<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Lista de cursos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Cursos cadastrados</h2>
      <ul>
        {% for curso in cursos %}
        <li>
          {{ curso[1] }}
          <a
            href="{{ url_for('deletar', id=curso[0]) }}"
            >Excluir</a
          >
        </li>
        {% endfor %}
      </ul>

      <button onclick="window.location.href='{{ url_for('home') }}'">
        Voltar
      </button>
    </div>
  </body>
</html>